<h2>Checkout</h2>
<p>
  <a routerLink="/shipping">View Shipping Prices</a>
</p>
<div *ngFor="let item of items">
  <span>{{ item.name + ' ' }} </span>
  <span>{{ item.price | currency }}</span>

  <div>
    <button (click)="deleteItem(item)">Remove from Cart</button>
  </div>
  <br />
</div>

<!-- Zero State -->
<div *ngIf="items.length === 0">
  <p>Your cart is empty!</p>
</div>

<!-- Checkout Form -->
<form
  *ngIf="items.length > 0"
  (ngSubmit)="onSubmit()"
  [formGroup]="checkoutForm"
>
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" />
  </div>
  <div>
    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address" />
  </div>
  <button class="button" type="submit">Purchase</button>
</form>
